/*----------------------------------------------------------------------------------



/*------------------------------------------------------------------------------------

[Table of contents]

default css
preloader
header
home area
section heading
core-feature area
about area
video area
awesome feature area
how work area
newsletter area

pricing area
custom plan area
team area
testimonial area


contact area
footer area
blog page
blog single page

--------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------
    default css
---------------------------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Poppins:400,500,600,700');
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #000;
    position: relative;
    overflow-x: hidden;
}

.version-drak {
    background-color: #040940
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

a,
a:visited,
a:focus,
a:active,
a:hover {
    text-decoration: none;
    outline: none;
}

a,
button {
    -webkit-transition: 0.3s;
    transition: 0.3s
}

button {
    cursor: pointer;
}

button:focus {
    outline: 0
}

a {
    color: #2c3e50;
    font-size: 14px
}
.header__logo{
    background: white;
    border-radius: 25px;
    padding:5px 15px 5px 15px;
    height: 100%;
    margin-right: 150px;
}
.header__container__2{
    display: flex;
    margin: auto;
    flex-wrap: wrap;

}
.header__burger{
    height: 100%;
}
.header__nav-item{
    display: flex;
    margin-left: 40px;
    gap: 10px;
    margin-right: 10px;

}
.header__button{
    margin: 0 10px
}
.header__nav-item .nav-link{
    gap: 120px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3 {
    font-weight: 400;
    margin-top: 0
}

h1 {
    font-size: 60px;
    line-height: 70px
}

h2 {
    font-size: 50px;
    line-height: 60px
}

h3 {
    font-size: 24px;
    line-height: 34px
}

h4 {
    font-size: 20px;
    line-height: 30px
}

h5 {
    font-size: 18px;
    line-height: 28px
}

h6 {
    font-size: 16px;
    line-height: 26px
}

p {
    font-size: 16px;
    color: #505b6d;
    line-height: 26px;
    font-family: 'Open Sans', sans-serif;
}

.d-table {
    width: 100%;
    height: 100%
}

.text-light {
    color: #e2ecfc !important
}

.text-dark {
    color: #555555 !important
}

.font-open-sans {
    font-family: 'Open Sans', sans-serif;
}

/*-------------------------------------------------------------------------------------
    preloader
---------------------------------------------------------------------------------------*/

.preloader {
    background: -webkit-gradient(linear, right top, left top, from(#2e19a7), to(#ae0ee9));
    background: linear-gradient(to left, #2e19a7, #ae0ee9);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999;
}

.preloader .spinner {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes ani-rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes sliderShape {
    0%,
    100% {
        border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
        transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    34% {
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
        transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
    }
    50% {
        transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    67% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
        transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
    }
}

@keyframes rotated {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes zoominoutsinglefeatured {
    0% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50% {
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
    }
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@keyframes zoominoutsinglefeatured {
    0% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50% {
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
    }
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@keyframes upndown {
    0% {
        -ms-transform: translateY(0px);
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    50% {
        -ms-transform: translateY(20px);
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

/*-------------------------------------------------------------------------------------
    header
---------------------------------------------------------------------------------------*/

#header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    padding: 15px 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#header.sticky {
    position: fixed;
    width: 100%;
    z-index: 9999;
    background: -webkit-gradient( linear, left top, right top, from(#20007e), to(#e61eb6));
    background: linear-gradient( 90deg, #20007e 0%, #e61eb6 100%);
    padding: 20px 0;
    -webkit-box-shadow: 0 0 10px #111;
    box-shadow: 0 0 10px #111;
}

#header.two.sticky {
    background: linear-gradient( 30deg, rgb(157, 91, 254) 0%, rgb(56, 144, 254) 100%);
}
.navbar-nav {
    display: flex;
    align-items: center;
}
.navbar navbar-expand-lg{
    padding: 0 0 0 0 ;
}
#header.sticky .navbar {
    background-color: transparent;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.navbar-nav .nav-link {
    color: #fff;
    font-weight: 500;
    position: relative;
    font-size: 16px
}

.navbar-nav .nav-item {
    padding: 0 6px;
}



.navbar-nav .nav-item.download-btn .nav-link {
    -webkit-box-shadow: 0px 10px 30px 0px rgba(21, 10, 82, 0.35);
    box-shadow: 0px 10px 30px 0px rgba(21, 10, 82, 0.35);
    background: -webkit-gradient(linear, right top, left top, from(#2e19a7), to(#ae0ee9));
    background: linear-gradient(to left, #2e19a7, #ae0ee9);
    border-radius: 25px;
    padding: 10px 25px;
    background-size: 100% auto
}

.navbar-nav .nav-item.download-btn .nav-link:after {
    border: 0
}

.navbar-nav .nav-item.download-btn.v2 .nav-link {
    background: -webkit-gradient(linear, left top, right top, from(#9d5bfe), to(#3890fe));
    background: linear-gradient(90deg, #9d5bfe, #3890fe);
    background-size: 100% auto
}

.navbar-nav .nav-item.download-btn .nav-link:hover {
    background-size: 200% auto
}

/*-------------------------------------------------------------------------------------
    home area
---------------------------------------------------------------------------------------*/

#home-area.bg-1 {
    background-image: url(../images/home-bg-1.png);
    background-repeat: no-repeat;
    background-position: bottom;
    margin-bottom: 60px
}

#home-area.bg-1 .home-bg-circle {
    position: relative;
}

#home-area.bg-1 .home-bg-circle .circle1 {
    position: absolute;
    -webkit-animation: zoominoutsinglefeatured 4s infinite;
    animation: zoominoutsinglefeatured 4s infinite;
    opacity: 0.6;
    right: 35%;
    top: 100px;
    width: 12%;
}

#home-area.bg-1 .home-bg-circle .circle2 {
    position: absolute;
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    animation: sliderShape 5s linear infinite;
    opacity: 0.5;
    right: 43%;
    top: 330px;
    width: 15%;
}

#home-area.bg-2 {
    background-image: url(../images/home-bg-2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%
}
.home-area__text{
    text-align: center;
}
.caption {
    padding: 230px 0 275px;
}


/*-------------------------------------------------------------------------------------
    section heading
---------------------------------------------------------------------------------------*/

.section-heading {
    margin-bottom: 54px;
}

.section-heading h5 {
    color: #0084ff;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.section-heading h2 {
    font-weight: 700;
    margin-bottom: 10px;
}

.section-heading p {
    font-size: 16px;
    line-height: 26px
}

/*-------------------------------------------------------------------------------------
    core-feature area
---------------------------------------------------------------------------------------*/

#core-feature-area {
    padding: 0 0 118px;
    position: relative;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
}
.destination p {
    font-size: small;
    text-align: start;
}
.destination ol li {
    font-size: medium;
    text-align: start;
}
::marker {

    font-family: 'Times New Roman', sans-serif;

}
.core-feature-area__carousel {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.core-feature-area__carousel__item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.core-feature-area__carousel img {
    width: 100%;
    max-height: 380px;
    object-fit: cover;
    object-position: center;
}


.core-feature-area__carousel__item h3{
    position: absolute;
}





.core-feature-area__text{
    margin-top: 50px;
}
#core-feature-area.bg-1 {
    background-image: url(../images/feature-bg-1.png);
}

#core-feature-area.bg-1 .core-feature-circle img {
    position: absolute;
    opacity: 0.5;
    -webkit-animation: zoominoutsinglefeatured 4s infinite;
    animation: zoominoutsinglefeatured 4s infinite;
}

#core-feature-area.bg-1 .core-feature-circle .circle1 {
    right: 1%;
    top: 0%;
    width: 11%;
}

#core-feature-area.bg-1 .core-feature-circle .circle2 {
    right: 18%;
    top: 17%;
    width: 13%;
}

#core-feature-area.bg-1 .core-feature-circle .circle3 {
    right: 6%;
    top: 34%;
    width: 5%;
}

#core-feature-area.bg-2 {
    background-image: url(../images/feature-bg-2.png);
}

#core-feature-area.bg-2 .core-feature-circle img {
    position: absolute;
    opacity: 0.5;
    -webkit-animation: zoominoutsinglefeatured 4s infinite;
    animation: zoominoutsinglefeatured 4s infinite;
}

#core-feature-area.bg-2 .core-feature-circle .circle1 {
    right: 1%;
    top: 0%;
    width: 11%;
}

#core-feature-area.bg-2 .core-feature-circle .circle2 {
    right: 18%;
    top: 17%;
    width: 13%;
}

#core-feature-area.bg-2 .core-feature-circle .circle3 {
    right: 6%;
    top: 34%;
    width: 5%;
}

#core-feature-area.bg-3 {
    background-image: url(../images/feature-bg-3.png);
}

#core-feature-area.bg-3 .core-feature-circle img {
    position: absolute;
    opacity: 0.5;
    -webkit-animation: zoominoutsinglefeatured 4s infinite;
    animation: zoominoutsinglefeatured 4s infinite;
}

#core-feature-area.bg-3 .core-feature-circle .circle1 {
    right: 1%;
    top: 0%;
    width: 11%;
}

#core-feature-area.bg-3 .core-feature-circle .circle2 {
    right: 18%;
    top: 17%;
    width: 13%;
}

#core-feature-area.bg-3 .core-feature-circle .circle3 {
    right: 6%;
    top: 34%;
    width: 5%;
}
.swiper-pagination,
.swiper-navBtn{
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.swiper-pagination,
.core-feature-area__carousel:hover .swiper-navBtn,
.core-feature-area__carousel:hover .swiper-navBtn {
    opacity: 1;
}
.swiper-button-prev.swiper-navBtn,
.swiper-button-next.swiper-navBtn{
    background-color: rgba(0,0,0,0.5);
    padding: 45px 20px;
    color: white;
    position: absolute;
    transform: translateY(-50%);
    margin: auto;
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active.swiper-pagination-bullet-active-main{
    background-color: white;
}
.load-more-btn a {
    background-image: -webkit-gradient( linear, left top, right top, from(rgb(174, 14, 233)), to(rgb(46, 25, 167)));
    background-image: linear-gradient( 90deg, rgb(174, 14, 233) 0%, rgb(46, 25, 167) 100%);
    -webkit-box-shadow: 0px 10px 30px 0px rgba(21, 10, 82, 0.35);
    box-shadow: 0px 10px 30px 0px rgba(21, 10, 82, 0.35);
    display: inline-block;
    border-radius: 25px;
    margin-top: 50px;
    padding: 14px 36px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    background-size: 100% auto
}

.load-more-btn a:hover {
    background-size: 200% auto
}

/*-------------------------------------------------------------------------------------
    video area
---------------------------------------------------------------------------------------*/

#video-area {
    padding: 90px 0 100px;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
}

#video-area.bg-1 {
    background-image: url(../images/counter-bg-1.png);
    background-size: cover;
}

#video-area.bg-1 .video-area-circle img {
    position: absolute;
    -webkit-animation: zoominoutsinglefeatured 4s infinite;
    animation: zoominoutsinglefeatured 4s infinite;
}

#video-area.bg-1 .video-area-circle .circle1 {
    left: 30%;
    top: 36%;
    width: 8%;
}

#video-area.bg-1 .video-area-circle .circle2 {
    left: 40%;
    top: 42%;
    width: 15%;
}

#video-area.bg-1 .video-area-circle .circle3 {
    right: -10%;
    top: 60%;
    width: 15%;
}

#video-area.bg-2 {
    background-image: url(../images/counter-bg-2.png)
}

#video-area.bg-2 .video-area-circle img {
    position: absolute;
    -webkit-animation: zoominoutsinglefeatured 4s infinite;
    animation: zoominoutsinglefeatured 4s infinite;
}

#video-area.bg-2 .video-area-circle .circle1 {
    left: 30%;
    top: 36%;
    width: 8%;
}

#video-area.bg-2 .video-area-circle .circle2 {
    left: 40%;
    top: 42%;
    width: 15%;
}

#video-area.bg-2 .video-area-circle .circle3 {
    right: -10%;
    top: 60%;
    width: 15%;
}

.video.title {
    padding-bottom: 325px
}

.video.title p {
    font-size: 16px;
}

.title h5 {
    font-weight: 700;
    text-transform: uppercase;
    color: #0084ff;
}

.video-area__row{
display: flex;
    justify-content: center
}
.counter__title  {

    text-align: center;
    font-weight: bold;
    margin: 0 5px 40px 5px;
}
.counter__title h5  {
    font-weight: bold;
    margin: 0 5px 40px 5px;
}
.counter__title p {
    color: white;
    font-weight: normal;
}
.title h2 {
    font-weight: 700;
    margin-bottom: 24px;
}

.counter.title p {
    color: #e8f2fe
}
.counter__elements{
    margin-top: 50px;
}
.counter__counter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.counter__counter h3{
    color: white;
    font-size: 30px;
    font-weight: revert;
}

.company__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto; /* Enable scrolling */
}
.company__logo__png  {
    height: 100px;
}

.swiper-pagination,
.company__logo:hover .swiper-navBtn,
.company__logo:hover .swiper-navBtn {
    opacity: 1;
}
.company__logo__swiper-wrapper{
    text-align: center;
}
@-webkit-keyframes icon-bubble {
    0% {
        -webkit-transform: scale(0.85);
        transform: scale(0.85);
        opacity: 1;
    }
    25% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 0.8;
    }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0.55;
    }
    75% {
        -webkit-transform: scale(1.32);
        transform: scale(1.32);
        opacity: 0.3;
    }
    100% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
        opacity: 0;
    }
}

@keyframes icon-bubble {
    0% {
        -webkit-transform: scale(0.85);
        transform: scale(0.85);
        opacity: 1;
    }
    25% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 0.8;
    }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0.55;
    }
    75% {
        -webkit-transform: scale(1.32);
        transform: scale(1.32);
        opacity: 0.3;
    }
    100% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
        opacity: 0;
    }
}

.counter-single {
    text-align: center
}

.counter-single .icon {
    width: 70px;
    height: 70px;
    margin: 0 auto 50px;
    line-height: 65px;
    position: relative;
    border-radius: 50%;
    background-color: #fff;
    font-size: 40px;
    z-index: 9
}

.counter-single .icon:before {
    width: 125px;
    height: 125px;
    position: absolute;
    content: '';
    top: -27px;
    left: -28px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
}

.counter-single .icon:after {
    width: 100px;
    height: 100px;
    position: absolute;
    content: '';
    top: -14px;
    left: -15px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: -1
}
.counter-single img{
    width: 60%;
}
.counter-single h2 {
    font-weight: 600;
    color: #fff
}

.counter-single p {
    color: #d2d7fc;
    text-transform: uppercase;
    font-size: 16px
}

/*-------------------------------------------------------------------------------------
    awesome feature area
---------------------------------------------------------------------------------------*/

#awesome-feat-area {
    padding: 0 0 120px;
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: 0 40%;
}

#awesome-feat-area.bg-1 {
    background-image: url(../images/awesome-feat-bg-1.png);
    position: relative;
}

#awesome-feat-area.bg-1 .awesome-feat-area-circle img {
    position: absolute;
    -webkit-animation: zoominoutsinglefeatured 4s infinite;
    animation: zoominoutsinglefeatured 4s infinite;
}

#awesome-feat-area.bg-1 .awesome-feat-area-circle .circle1 {
    left: 2%;
    width: 10%;
    opacity: 0.5;
}

#awesome-feat-area.bg-1 .awesome-feat-area-circle .circle2 {
    left: 10%;
    width: 10%;
    opacity: 0.7;
    margin-top: 200px;
}

#awesome-feat-area.bg-2 {
    background-image: url(../images/awesome-feat-bg-2.png)
}

#awesome-feat-area.bg-2 .awesome-feat-area-circle img {
    position: absolute;
    -webkit-animation: zoominoutsinglefeatured 4s infinite;
    animation: zoominoutsinglefeatured 4s infinite;
}

#awesome-feat-area.bg-2 .awesome-feat-area-circle .circle1 {
    left: 2%;
    width: 10%;
    opacity: 0.5;
}

#awesome-feat-area.bg-2 .awesome-feat-area-circle .circle2 {
    left: 10%;
    width: 10%;
    opacity: 0.7;
    margin-top: 200px;
}

.awesome-feat-img {
    margin-left: 36%;
}

.awesome-feat-img img {
    max-width: 400px;
}










@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

/*-------------------------------------------------------------------------------------
    newsletter area
---------------------------------------------------------------------------------------*/

#newsletter-area {
    padding: 110px 0 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

#newsletter-area.bg-1 {
    background-image: url(../images/newsletter-bg-1.jpg)
}

#newsletter-area.bg-2 {
    background-image: url(../images/newsletter-bg-2.jpg)
}
.newsletter-area__title{
    margin-top: 40px;
}

.newsletter-area__text{
    margin-top: 60px;
    margin-bottom: 50px;
}

.newsletter-area__text__2{
    margin-top: 50px;
}

#response {
    color: #2ecc71;
    margin-top: 10px;
}



.screen-wrap {
    position: relative
}


.screen-carousel.owl-carousel img {
    max-width: 255px
}

.screen-carousel.owl-carousel .owl-nav {
    text-align: right
}

.screen-carousel.owl-carousel .owl-nav>div {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -115px;
    font-size: 30px;
    margin: 0 auto;
    color: #f075c7
}

.screen-carousel.owl-carousel .owl-nav .owl-prev {
    right: 40px;
}

.screen-carousel.owl-carousel .owl-nav .owl-next {
    left: auto;
    right: 0
}

.screen-carousel.owl-carousel .owl-item.active:first-child img {
    border-radius: 30px
}

/*-------------------------------------------------------------------------------------
    pricing area
---------------------------------------------------------------------------------------*/

#pricing-area {
    padding: 120px 0 0;
    background-image: url(../images/backgrounds/d2-analytics-destination-research-software.jpg);
    background-repeat: no-repeat;
    background-position:  center;
    background-size: cover;
}

.pricing-area__content{
    gap: 20px;
    border-radius: 20px;
    color: white;
    background-color: rgba(0,0,0,0.65);
    display: flex;
    padding: 20px;
    margin-bottom: 120px;
}

.pricing-area__text{
    border-left: 6px solid white;
    padding-left: 20px;

}
.pricing-area__text h4{
    font-weight: 600;
}
.pricing-area__text p{
    margin-top: 40px;
    color: rgba(255,255,255,0.7);
}
.pricing-area__row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggle-container {
    margin-top: -10px;
}

.toggle-container .switch-toggles {
    position: relative;
    width: 322px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid #8275ca;
}

.toggle-container .switch-toggles .monthly,
.toggle-container .switch-toggles .yearly {
    position: relative;
    width: 160px;
    line-height: 50px;
    float: left;
    text-align: center;
    z-index: 2;
    cursor: pointer;
    font-size: 14px;
    -webkit-transition: color 0.7s cubic-bezier(0.545, 0, 0.05, 1);
    transition: color 0.7s cubic-bezier(0.545, 0, 0.05, 1);
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    border-radius: 30px;
    text-transform: uppercase
}

.toggle-container .switch-toggles .monthly.active,
.toggle-container .switch-toggles .yearly.active,
.toggle-container.v-dark .switch-toggles .monthly,
.toggle-container.v-dark .switch-toggles .yearly {
    color: #fff
}

.toggle-container .switch-toggles:after {
    position: absolute;
    content: "";
    width: 160px;
    height: 50px;
    background: #ff4089;
    background-image: -webkit-gradient( linear, left top, right top, from(rgb(174, 14, 233)), to(rgb(46, 25, 167)));
    background-image: linear-gradient( 90deg, rgb(174, 14, 233) 0%, rgb(46, 25, 167) 100%);
    -webkit-box-shadow: 0px 10px 30px 0px rgba(21, 10, 82, 0.35);
    box-shadow: 0px 10px 30px 0px rgba(21, 10, 82, 0.35);
    left: -1px;
    top: 0;
    border-radius: 30px 0 0 30px;
    -moz-border-radius: 30px 0 0 30px;
    -webkit-border-radius: 30px 0 0 30px;
    -webkit-box-shadow: 2.5px 4.33px 20px 0px rgba(61, 61, 62, 0.059);
    -webkit-transition: all 0.7s cubic-bezier(0.545, 0, 0.05, 1);
    transition: all 0.7s cubic-bezier(0.545, 0, 0.05, 1);
}

.toggle-container.two .switch-toggles:after {
    background: -webkit-gradient( linear, left bottom, left top, from(rgb(157, 91, 254)), to(rgb(56, 144, 254)));
    background: linear-gradient( 0deg, rgb(157, 91, 254) 0%, rgb(56, 144, 254) 100%);
}

.toggle-container .switch-toggles.active:after {
    border-radius: 0 30px 30px 0;
    -moz-border-radius: 0 30px 30px 0;
    -webkit-border-radius: 0 30px 30px 0;
}

.toggle-container .switch-toggles.active:after {
    left: 160px;
    top: 0;
}


/*-------------------------------------------------------------------------------------
    contact area
---------------------------------------------------------------------------------------*/

#contact-area {
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 47%;
    padding: 112px 0 120px;
    margin-bottom: 15px
}

#contact-area.bg-1 {
    background-image: url(../images/contact-bg-1.png);
}

#contact-area.bg-1 .contact-area-circle img {
    position: absolute;
    -webkit-animation: zoominoutsinglefeatured 4s infinite;
    animation: zoominoutsinglefeatured 4s infinite;
}

#contact-area.bg-1 .contact-area-circle .circle1 {
    right: 2%;
    width: 7%;
    opacity: 0.5;
    margin-top: 40px;
}

#contact-area.bg-2 {
    background-image: url(../images/contact-bg-2.png);
}

#contact-area.bg-2 .contact-area-circle img {
    position: absolute;
    -webkit-animation: zoominoutsinglefeatured 4s infinite;
    animation: zoominoutsinglefeatured 4s infinite;
}

#contact-area.bg-2 .contact-area-circle .circle1 {
    right: 2%;
    width: 7%;
    opacity: 0.5;
    margin-top: 40px;
}

.contact-form input {
    height: 55px;
    border: 0;
    border-bottom: 1px solid #e9e9ea;
    border-radius: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background-color: transparent
}

.contact-form textarea {
    border: 0;
    border-bottom: 1px solid #e9e9ea;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 0;
    padding-top: 30px;
    background-color: transparent
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #2e19a7;
    -webkit-box-shadow: 0 0;
    box-shadow: 0 0;
    background-color: transparent
}

.contact-form.v-dark input,
.contact-form.v-dark textarea {
    border-color: #3a4678;
}

.contact-form button {
    padding: 15px 30px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    background-image: linear-gradient( 45deg, rgb(174, 14, 233) 0%, rgb(46, 25, 167) 100%);
    -webkit-box-shadow: 0px 10px 30px 0px rgba(21, 10, 82, 0.35);
    box-shadow: 0px 10px 30px 0px rgba(21, 10, 82, 0.35);
    border: 0;
    color: #fff;
    margin: 25px 0 0;
    background-size: 100% auto
}

.contact-form.two button {
    background-image: linear-gradient( 45deg, rgb(157, 91, 254) 0%, rgb(56, 144, 254) 100%);
    -webkit-box-shadow: 0px 10px 30px 0px rgba(21, 10, 82, 0.35);
}

.contact-form button:hover {
    background-size: 200% auto
}

.help-block.with-errors li {
    color: #ff0000;
    margin: 4px 0 0;
}

.messages {
    margin: 15px 0 0
}

.messages button {
    color: #000;
    padding: 0;
    background-color: transparent
}

.messages button:hover {
    background-color: transparent
}

/*-------------------------------------------------------------------------------------
    footer area
---------------------------------------------------------------------------------------*/

#footer {
    background-repeat: no-repeat;
    background-position: bottom;
}

#footer.bg-1 {
    margin-top: 90px;
    background-image: url(../images/footer-bg-1.png);
    background-size: cover;

}

#footer.bg-2 {
    background-image: url(../images/footer-bg-2.png);
}

.get-started {
    border-radius: 5px;
    background-image: -webkit-gradient( linear, left top, right top, from(rgb(32, 0, 126)), to(rgb(230, 30, 182)));
    background-image: linear-gradient( 90deg, rgb(32, 0, 126) 0%, rgb(230, 30, 182) 100%);
    -webkit-box-shadow: 0px 10px 10px 0px rgba(2, 2, 2, 0.25);
    box-shadow: 0px 10px 10px 0px rgba(2, 2, 2, 0.25);
    padding: 50px 30px;
    margin-top: -170px
}

.get-started.two {
    background-image: -webkit-gradient( linear, left top, right top, from(rgb(56, 144, 254)), to(rgb(157, 91, 254)));
    background-image: linear-gradient( 90deg, rgb(56, 144, 254) 0%, rgb(157, 91, 254) 100%);
}

.get-started h2 {
    font-weight: 600;
    color: #fff;
    font-size: 40px;
    line-height: 50px;
    margin: 0 0 20px;
}

.get-started a {
    display: inline-block;
    float: right;
    background-image: -webkit-gradient( linear, left top, right top, from(rgb(174, 14, 233)), to(rgb(46, 25, 167)));
    background-image: linear-gradient( 90deg, rgb(174, 14, 233) 0%, rgb(46, 25, 167) 100%);
    -webkit-box-shadow: 0px 10px 30px 0px rgba(21, 10, 82, 0.35);
    box-shadow: 0px 10px 30px 0px rgba(21, 10, 82, 0.35);
    color: #fff;
    padding: 15px 25px;
    border-radius: 30px;
    font-family: 'Open Sans', sans-serif;
    margin: 42px 0 0;
    text-transform: uppercase;
    background-size: 100% auto
}

.get-started a:hover {
    background-size: 200% auto
}


.footer__contact{
    color: white;

}
.footer-widget h3 {
    font-size: 30px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}

.footer-widget li {
    border-bottom: 1.5px dotted rgba(227, 230, 252, 0.4);
    display: block;
    padding: 13px 0;
    -webkit-transition: 0.5s;
    transition: 0.5s
}

.footer-widget li:last-child {
    border-bottom: 0;
}

.footer-widget li i {
    display: none;
    -webkit-transition: 0.3s;
    transition: 0.3s
}

.footer-widget li a:hover i {
    display: inline-block;
    -webkit-transition: 0.3s;
    transition: 0.3s
}

.footer-widget li a {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

#footer.bg-2 .footer-widget li a:hover {
    color: #fff;
}

.footer-widget li a:hover {
    color: #0084ff;
}

.footer-copyright {
    border-top: 1px solid #a36cbd;
    padding: 35px 0;
}

.footer-social li {
    display: inline-block;
    margin-left: 10px;
}

.footer-social li a {
    display: block;

    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;

}

.footer-social li a:hover {
    background-image: -webkit-gradient( linear, left top, right top, from(rgb(255, 170, 87)), to(rgb(254, 92, 118)));
    background-image: linear-gradient( 90deg, rgb(255, 170, 87) 0%, rgb(254, 92, 118) 100%);
    -webkit-box-shadow: 0px 8px 10px 0px rgba(254, 92, 118, 0.6);
    box-shadow: 0px 8px 10px 0px rgba(254, 92, 118, 0.6);
    border-color: rgb(254, 92, 118)
}

.footer-copyright p {
    color: #e3e6fc;
    margin: 0;
}
.footer-cont {
    padding: 0 0 50px
}
.footer__container{
    margin-top: 70px;
    width: 70%;
}
.footer__head{
    display: flex;
    justify-content: space-between;
}
.footer__logo{
    padding-left: 55px;
}
.footer__logo img{
    width: 80%;
}

.about-area-circle img{
    width: 50%;
    opacity: 0.5;
    -webkit-animation: zoominoutsinglefeatured 4s infinite;
    animation: zoominoutsinglefeatured 4s infinite;
}

.about-area-circle .circle1{
    right: 0%;
}
.ag-format-container {
    width: 80%;
    margin: 0 auto;
}



.ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

}
.ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
    text-align: center;
    margin: 0 15px 30px;
    overflow: hidden;

}
.ag-courses-item_link {
    display: flex;
    padding: 30px 0;
    overflow: hidden;
    position: relative;
    gap: 20px;
}
.ag-courses-item_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start
}
.ag-courses-item_text p{
    margin: 5px 0;
    text-align: left;
}
.ag-courses-item_text a {
    background-image: -webkit-gradient( linear, left top, right top, from(rgb(174, 14, 233)), to(rgb(46, 25, 167)));
    background-image: linear-gradient( 90deg, rgb(174, 14, 233) 0%, rgb(46, 25, 167) 100%);

    display: inline-block;
    border-radius: 12px;
    margin-top: 15px;
    padding: 14px 36px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    background-size: 100% auto
}
.ag-courses-item_text a:hover {
    background-size: 200% auto
}

.ag-courses-item_title {
    overflow: hidden;
    font-weight: bold;
    font-size: 18px;
    color: #0b0b0b;

    z-index: 2;
    position: relative;
}

.ag-courses-item_date {
    font-weight: bold;

    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
}



@media only screen and (max-width: 979px) {
    .ag-courses_item {
        -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    }
    .ag-courses-item_title {
        font-size: 24px;
    }
}

@media only screen and (max-width: 767px) {
    .ag-format-container {
        width: 96%;
    }
    .ag-courses-item_link{
        padding: 0;
    }

}
@media only screen and (max-width: 639px) {

    .ag-courses_item {

        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .ag-courses-item_title {
        font-size: 20px;
        min-height: 72px;
        line-height: 1;
    }
    .ag-courses-item_text h3{
        min-height: 35px;
    }
    .ag-courses-item_link {

    }
    .ag-courses-item_date-box {
        font-size: 16px;
    }
}
.image-grid {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.image-grid__row__col{
    position: relative;

    align-items: center;
    padding-left: 0;
    padding-right: 0;

}
.image-grid__row__col__top{
    padding-left: 0;
    padding-right: 0;

}
.image-grid__content {
    margin: 80px;
    padding: 40px;
    color: white;
    width: 80%;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
}
.image-grid__row__col__img{
    filter: brightness(0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

}
.image-grid__right__row__col__img{
    width: 100%;
    filter: brightness(0.6);
    height: 486px;
    object-fit: cover;
}

.image-grid__right__content{
    position: absolute;
    width: 70%;
    margin: 30px 30px;
    z-index: 1;
    color: white;
}
.image-grid__right__content h3{
    font-size: 25px;
    font-weight: 600;
}
.image-grid__right__content h4{
    font-size: 15px;
    font-weight: 500;
}
.image-grid p{
    color: white;
}
.image-grid__content p{
    color: white;
}
.image-grid__row__col__bottom{
    padding:0;
}
.image-grid__row__col__top:hover .swiper-navBtn,
.image-grid__row__col__top:hover .swiper-navBtn {
    opacity: 1;
}
.image-grid__row__col__bottom:hover .swiper-navBtn,
.image-grid__row__col__bottom:hover .swiper-navBtn {
    opacity: 1;
}
.ima
.image-grid__left,
.image-grid__right__top,
.image-grid__right__bottom {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}
.image-grid__left img,
.image-grid__right__top img,
.image-grid__right__bottom img {
    filter: brightness(0.6);
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.image-grid__right__bottom img{
    filter: brightness(0.5);

}


.
/*-------------------------------------------------------------------------------------
    blog page
---------------------------------------------------------------------------------------*/

.page-breadcrumb {
    background-image: url(../images/breadcrumb-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 204px 0 125px
}

.breadcrumb-cont h2 {
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    margin: 0 0 36px;
}

.breadcrumb-cont ul li {
    display: inline-block;
    color: #fff;
}

.breadcrumb-cont ul li a {
    display: block;
    color: #fff;
}

.breadcrumb-cont ul li a:hover {
    color: #0084ff;
}

.breadcrumb-cont ul li small {
    padding: 0 10px;
}

.blog-wrap {
    padding: 120px 0 60px;
}

.blog-single {
    border: 1px solid #e7ebef;
    padding: 10px;
    border-radius: 10px;
    margin: 0 0 30px;
    -webkit-transition: 0.3s;
    transition: 0.3s
}

.blog-single:hover {
    border-color: rgb(0, 121, 255);
    -webkit-box-shadow: 0px 5px 20px 0px rgba(46, 25, 167, 0.5);
    box-shadow: 0px 5px 20px 0px rgba(46, 25, 167, 0.5);
}

.post-media {
    position: relative;
}

.post-media .date {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #2e19a7;
    color: #fff;
    width: 65px;
    height: 76px;
    border-radius: 0 0 0 5px;
    font-size: 30px;
    text-align: center;
    line-height: 26px;
    padding: 12px 0 0;
    background-image: -webkit-gradient( linear, left top, right top, from(rgb(174, 14, 233)), to(rgb(46, 25, 167)));
    background-image: linear-gradient( 90deg, rgb(174, 14, 233) 0%, rgb(46, 25, 167) 100%);
}

.post-media .date span {
    font-size: 16px;
}

.post-cont h3 a {
    color: #000;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    margin: 30px 0 6px;
    display: inline-block;
}

.post-cont h6 a {
    display: inline-block;
    padding: 0 20px 6px 0;
    font-family: 'Open Sans', sans-serif;
    color: #3d446f;
}

.post-cont h6 a i {
    padding-right: 4px;
}

.post-cont p {
    color: #3d446f;
}

.post-cont {
    border-bottom: 1px solid #cfd7df;
    margin: 0 20px;
}

.post-btn a {
    display: inline-block;
    font-weight: 700;
    color: #0d154b;
    font-family: 'Open Sans', sans-serif;
    padding: 25px 0 16px;
}

.post-cont h6 a:hover,
.post-btn a:hover {
    color: #0084ff;
}

.sidebar-widget {
    border: 1px solid #7fbcff;
    padding: 30px 30px 20px;
    border-radius: 10px;
    margin: 0 0 40px
}

.sidebar-widget h6 {
    color: #0084ff;
    font-weight: 600;
    margin-bottom: 5px;
    text-align: center;
}

.sidebar-widget h3 {
    text-align: center;
    font-weight: 700;
    border-bottom: 1px solid #eeeeee;
    margin: 0 0 22px;
    padding: 0 0 20px;
}

.sidebar-widget ul li {
    padding: 0 0 15px;
}

.sidebar-widget li a {
    display: block;
    color: #3d446f;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px
}

.sidebar-widget li a:hover {
    color: #0084ff;
}

.sidebar-widget input {
    border: 0;
    font-size: 14px;
    border-bottom: 1px solid #9ea1b7;
    font-family: 'Open Sans', sans-serif;
    border-radius: 0;
    padding: 0;
    height: 50px;
}

.sidebar-widget input:focus {
    -webkit-box-shadow: 0 0;
    box-shadow: 0 0
}

.sidebar-widget button {
    background-image: linear-gradient( 45deg, rgb(174, 14, 233) 0%, rgb(46, 25, 167) 100%);
    -webkit-box-shadow: 0px 10px 30px 0px rgba(21, 10, 82, 0.35);
    box-shadow: 0px 10px 30px 0px rgba(21, 10, 82, 0.35);
    border: 0;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    padding: 14px 50px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    border-radius: 30px;
    margin: 20px 0 10px;
    background-size: 100% auto
}

.sidebar-widget button:hover {
    background-size: 200% auto
}

.sidebar-widget.tags li {
    display: inline-block;
    padding: 0 0 10px;
}

.sidebar-widget.tags li a {
    background-color: #f4f5f8;
    padding: 8px 18px;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}

.sidebar-widget.tags li a:hover {
    background-image: linear-gradient( 45deg, rgb(174, 14, 233) 0%, rgb(46, 25, 167) 100%);
    -webkit-box-shadow: 0px 10px 30px 0px rgba(21, 10, 82, 0.35);
    box-shadow: 0px 10px 30px 0px rgba(21, 10, 82, 0.35);
    color: #fff
}

.blog-pagination {
    position: relative;
    margin: 30px 0 0;
}

.pagination-border {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #e0e0e0;
    height: 1px;
    width: 100%;
    top: 24px;
}

.blog-pagination li {
    display: inline-block;
}

.blog-pagination li a {
    display: block;
    width: 48px;
    height: 48px;
    background-color: #f1f5f7;
    line-height: 48px;
    border-radius: 50%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin: 0 2px;
    position: relative;
    color: #999999;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(62, 83, 216, 0.2);
    box-shadow: 0px 5px 10px 0px rgba(62, 83, 216, 0.2);
}

.blog-pagination li a.active,
.blog-pagination li a:hover {
    background-image: -webkit-gradient( linear, left top, right top, from(rgb(174, 14, 233)), to(rgb(46, 25, 167)));
    background-image: linear-gradient( 90deg, rgb(174, 14, 233) 0%, rgb(46, 25, 167) 100%);
    -webkit-box-shadow: 0px 10px 30px 0px rgba(21, 10, 82, 0.35);
    box-shadow: 0px 10px 30px 0px rgba(21, 10, 82, 0.35);
    color: #fff
}

.blog-pagination ul {
    width: 300px;
    background-color: #fff;
    position: relative;
    margin: 0 auto;
}

/*-------------------------------------------------------------------------------------
    blog single page
---------------------------------------------------------------------------------------*/

.post-cont blockquote {
    background-image: -webkit-gradient( linear, left top, right top, from(rgb(32, 0, 126)), to(rgb(230, 30, 182)));
    background-image: linear-gradient( 90deg, rgb(32, 0, 126) 0%, rgb(230, 30, 182) 100%);
    padding: 65px 70px 50px;
    margin: 70px 0 50px;
    position: relative
}

.quote {
    position: absolute;
    top: -30px;
}

.post-cont blockquote p {
    color: #fff;
    font-size: 22px;
    line-height: 1.5;
}

.blog-inner-cont ul {
    margin: 15px 0 30px;
}

.blog-inner-cont li {
    font-size: 14px;
    color: #3d446f;
    padding: 10px 0;
}

.blog-inner-cont img {
    margin: 20px 0 60px;
}

.post-social-share li {
    display: inline-block;
    font-size: 14px;
    padding: 30px 0 20px;
}

.post-social-share li a {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #0d154b;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    margin: 0 2px;
}

.post-social-share li span {
    padding: 0 6px 0 20px;
}

.post-social-share li a:hover {
    background: #3718ac;
    color: #fff;
    border-color: #3718ac;
}

.post-cont.single {
    padding: 0 0 20px;
}

.post-comment-wrap h3 {
    font-weight: 700;
    font-size: 26px;
    margin: 0 0 40px;
}

.comment-single {
    border: 1px solid #0079ff;
    border-radius: 10px;
    overflow: hidden;
    padding: 30px 30px 12px;
    margin: 0 0 30px;
}

.comment-single.reply {
    margin-left: 95px
}

.avatar img {
    border-radius: 50%;
    border: 2px solid #1179ff;
}

.avatar {
    width: 14%;
    float: left;
}

.comnt-text {
    width: 86%;
    float: left;
    position: relative;
}

.reply-icon a {
    color: #0084ff !important;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block
}

.reply-icon {
    position: absolute;
    right: 0;
    top: 0;
}

.comnt-info h5 {
    font-weight: 700;
    margin: 0;
}

.comnt-info p {
    color: #727799 !important;
}

.comnt-text p {
    color: #3d446f;
}

.post-comment-wrap {
    padding: 30px 0 0;
}

.comment-form input {
    border: 0;
    border-bottom: 1px solid #d5d6d9;
    border-radius: 0;
    font-size: 14px;
    height: 50px;
    padding-left: 40px;
}

.comment-form input:focus {
    border-color: #017aff;
    -webkit-box-shadow: 0 0;
    box-shadow: 0 0;
}

.comment-form textarea {
    border: 0;
    border-bottom: 1px solid #d5d6d9;
    font-size: 14px;
    padding-left: 40px;
    padding-top: 20px;
    border-radius: 0;
}

.comment-form button {
    border: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 18px 46px;
    border-radius: 4px;
    background-image: -webkit-gradient( linear, left top, right top, from(rgb(174, 14, 233)), to(rgb(46, 25, 167)));
    background-image: linear-gradient( 90deg, rgb(174, 14, 233) 0%, rgb(46, 25, 167) 100%);
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    margin: 25px 0 0;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(21, 10, 82, 0.35);
    box-shadow: 0px 10px 30px 0px rgba(21, 10, 82, 0.35);
    background-size: 100% auto
}

.comment-form h3 {
    margin: 52px 0 30px;
}

.comment-form button:hover {
    background-size: 200% auto
}

/*-------------------------------------------------------------------------------------
    demo area
---------------------------------------------------------------------------------------*/

.demo-header {
    padding: 100px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.demo-header h2 {
    font-weight: 700;
    color: #fff;
    font-size: 40px;
    line-height: 50px
}

.demo-body {
    padding: 120px 0 0;
}

.demo-img {
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2)
}

.demo-sing-cont h5 {
    font-weight: 700;
    margin: 30px 0 0;
    color: #0084ff
}

.demo-sing-cont a {
    display: inline-block;
    padding: 8px 26px;
    color: #fff;
    border-radius: 30px;
    font-weight: 500;
}

.demo-sing-cont a:hover {
    background-size: 200% auto
}

.demo-single {
    margin: 0 0 60px;
}

.demo-header-cont a {
    display: inline-block;
    padding: 14px 42px;
    color: #fff;
    border-radius: 30px;
    font-weight: 500;
    margin: 30px 0 0;
    background: -webkit-gradient(linear, right top, left top, from(#2e19a7), to(#ae0ee9));
    background: linear-gradient(to left, #2e19a7, #ae0ee9);
    background-size: 100% auto
}

.demo-header-cont a:hover {
    background-size: 200% auto
}
@media only screen and (max-width: 768px) {
.header__container__2{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    height: 100%;
}
    .header__logo{
        margin-right:0;
    }
    .header__burger__img{
        color: white;
    }
    .core-feature-area__carousel {
        overflow-x: scroll;
        flex-wrap: nowrap;
    }
    .core-feature-area__carousel__item{
        width: 100%;
        flex: 0 0 25%;

    }
    .image-grid__row{
        display: flex;
        flex-direction: column;
    }


    .counter__elements{
        flex-direction: column;
        align-items: center;
    }
    .image-grid{
        display: flex;
        flex-direction: column;
    }
    .image-grid__row__col{
        max-width: 100%;

    }
    .image-grid__right__row__col__img{
        height: 100%;
    }
    #footer.bg-1{
        margin-top: 0;
    }
    .footer__container{
        width: 90%;
    }
    #footer.bg-1 {
        background-position:center; /* Move the background 50px to the right and 20px down */
    }
    .footer__head{
        display: none;
    }

    .footer__container{
        margin-top: 0;
        padding-top: 50px;
    }
    .footer-cont{
        padding: 0;
    }
    #footer.bg-1 {
        background-attachment: fixed;
    }
}